fn main() -> Result<(), Box<dyn std::error::Error>> {
    tonic_build::configure()
    .build_server(false)
    .file_descriptor_set_path("file_descriptor_set.bin")
    .type_attribute("GoogleAdsRow", "#[derive(::prost_reflect::ReflectMessage)]")
    .type_attribute("GoogleAdsRow", "#[prost_reflect(file_descriptor = \"FILE_DESCRIPTOR\", message_name = \"google.ads.googleads.v10.services.GoogleAdsRow\")]")
    .compile(
        &[
        {% for path in paths %}
            "{{ path }}",
        {% endfor %}
        ],
        &["proto"],
    )?;
    Ok(())
}
